.review {
  margin: 0;
  padding: 210px 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .review {
    padding-top: 190px;
  }
}

@media screen and (max-width: 768px) {
  .review {
    padding-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .review {
    padding-top: 100px;
  }
}
