.footer__menu-link {
  padding: 0;
  margin: 0;
  line-height: 1.25;
  font-size: 16px;
  font-weight: normal;
  opacity: 1;
  transition: color .1s ease-in;
  color: #FAF1E9;

}

.footer__menu-link:hover {
  color: #513629;
}

@media screen and (max-width: 480px) {
  .footer__menu-link {
    line-height: 1.2;
    font-size: 15px;
}
