.review__item-text {
  margin: 25px auto 33px auto;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 108%;
}

@media screen and (max-width: 1024px) {
  .review__item-text{
    margin: 29px auto 32px auto;
    font-size: 18px;
  }
}