.product__loop-icon {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 50px;
  height: 50px;
  z-index: 1;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .product__loop-icon {
    top: 14px;
    right: 14px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .product__loop-icon {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 735px) {
  .product__loop-icon {
    top: 13px;
    right: 13px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 455px) {
  .product__loop-icon {
    top: 8px;
    right: 8px;
    width: 25px;
    height: 25px;
  }
}