.section-btn {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 668px;
	margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
	.section-btn{
		height: 668px;
	}
}

@media screen and (max-width: 480px) {
	.section-btn{
		height: 620px;
	}
}