.select {
  margin: 0;
  padding: 0;
  width: 160px;
}

.select_category {
  margin: 0;
  padding: 0;
  width: 252px;
}

.select__wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select__header {
  cursor: pointer;
  padding: 9px 29px;
  margin: 0;
  width: 100%;
  color: #513629;
  box-sizing: border-box;
  background-color: #faf1e9;
  border-radius: 10px;
  border: 0.5px solid transparent;
  transition: all 0.4s ease-in-out;
  min-height: 30px;
  position: relative;
}

.select__header::after {
  position: absolute;
  content: '';
  top: 40%;
  right: 10%;
  width: 10px;
  height: 9px;
  background-image: url('../../images/product/Triangle.svg');
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in-out;
}

.select-arrow-active:after {
  transform: rotate(180deg);
}

.select__header:hover {
  border: 0.5px solid #513629;
}

.select__header_active {
  border-radius: 10px 10px 0 0;
  border: 0.5px solid #513629;
}

.select__main-option {
  /* margin: 6px auto 6px 10%; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.select__container {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.select__container_opened {
  opacity: 1;
  visibility: visible;
}

.select__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #faf1e9;
  box-sizing: border-box;
  color: #513629;
  border-radius: 0 0 10px 10px;
}

.select__list-item {
  /* height: 30px; */
  text-align: center;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 9px 29px;
  border: 0.5px solid #513629;
  border-top: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}

.select__item-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.select__list-item:last-of-type {
  margin-bottom: 0;
  border-radius: 0 0 10px 10px;
}

.select__list-item:hover {
  background-color: #dc8962;
  color: #FAF1E9;
}

.select__list-item__active {
  background-color: #dc8962;
}
