.popular__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0 16px;
  padding: 0;
}

.popular__item:first-child {
  margin-left: 0px;
}

.popular__item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1024px) {
  .popular__item {
    margin: 0 13px;
  }
}

@media screen and (max-width: 768px) {
  .popular__item {
    margin: 0 9px;
  }
}