.content-slider {
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1257px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .content-slider {
    /* max-width: 996px; */
    padding: 0 23px;
  }
}

@media screen and (max-width: 768px) {
  .content-slider {
    max-width: 724px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .content-slider {
    justify-content: center;
    max-width: 440px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .content-slider {
    justify-content: center;
    max-width: 280px;
    padding: 0;
  }
}