.review {
  margin: 0 auto;
  padding: 210px 21px 210px 21px;
  width: 100%;
  max-width: 1257px;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .review {
    max-width: 1169px;
  }
}

@media screen and (max-width: 1024px) {
  .review {
    padding-top: 190px;
  }
}

@media screen and (max-width: 768px) {
  .review {
    padding-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .review {
    padding-top: 100px;
  }
}

/*title*/
.review__title {
  margin: 0 auto 85px auto;
  color: #dc8962;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 108%;
}

@media screen and (max-width: 1024px) {
  .review__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .review__title {
    max-width: 240px;
    margin-bottom: 50px;
  }
}