.page {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  color: #dc8962;
  /*сглаживание шрифтов и тд*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  /*text-rendering: optimizeLegibility; */
}