.button {
  width: 194px;
  height: 50px;
  color: #faf1e9;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #dc8962;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.button_outlined {
  border: 1px solid #513629;
  color: #513629;
  font-size: 16px;
  background-color: #fff;
}

.button_outlined:hover {
  border: 1px solid #dc8962;
  background-color: #dc8962;
  color: #fff;
}

.button_outlined:active {
  border: 1px solid #fcba9b;
  background-color: #fcba9b;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .button {
    width: 160px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

.button:hover {
  background-color: #ca764e;
}

.button:active {
  background-color: #fcba9b;
}

.button_type_add-to-card {
  margin-bottom: 40px;
}

.button_type_not-found {
  margin: 0;
  padding: 10px 20px !important;
  text-decoration: none;
  width: unset !important;
  height: unset !important;
}

.button_type_popup-add-card {
  font-size: 16px;
  line-height: 107.9%;
  width: unset;
  height: unset;
  margin-top: 20px;
  padding: 12px 32px;
  text-decoration: none;
}

.button_type_popup-basket {
  width: unset !important;
  height: unset !important;
  padding: 8px 25px 11px 26px;
  font-size: 14px !important;
  line-height: 107.9% !important;
  text-decoration: none;
}

.button_type_contacts{
    width: 100%;
    height: 49px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: Montserrat;
}

@media screen and (max-width: 500px) {
  .button_type_popup-add-card {
    font-size: 14px;
    padding: 12px 22px;
  }
}
