.button {
	width: 194px;
	height: 50px;
	color: #FAF1E9;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	background-color: #DC8962;
	border-radius: 10px;
	border: none;
	outline: none;
	transition: background-color 0.4s ease-in-out;
	cursor: pointer;
}

.button_outlined {
	border: 1px solid #513629;
  color: #513629;
  font-size: 16px;
  background-color: #fff;
}

.button_outlined:hover {
	border: 1px solid #DC8962;
  background-color: #DC8962;
  color: #fff;
}

.button_outlined:active {
	border: 1px solid #FCBA9B;
  background-color: #FCBA9B;
  color: #fff;
}

@media screen and (max-width: 1440px) {
	.button{
		width: 160px;
		height: 40px;
		font-size: 16px;
		line-height: 20px;
	}
}

.button:hover {
	background-color: #CA764E;
}

.button:active {
	background-color: #FCBA9B;
}

.button_type_add-to-card {
	margin-bottom: 40px;
}