.product__description {
	padding: 0;
	margin: 0;
	max-width: 570px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 126%;
	color: #513629;
}

.product__description:last-of-type {
	margin-bottom: 20px;
}