.instagram-block__kenguru-instagram {
  padding: 0;
  margin-left: 87px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 930px) {
  .instagram-block__kenguru-instagram {
    margin: 0 auto;
  }
}