.product__photo {
  margin: 0 auto;
	cursor: pointer;
}

.product__photo:first-of-type {
	cursor: auto;
}

.product__photo:first-of-type {
	position: relative;
	grid-area: main;
}

.product__photo:nth-of-type(2) {
	grid-area: one;
}

.product__photo:nth-of-type(3) {
	grid-area: two;
}

.product__photo:nth-of-type(4) {
	grid-area: three;
}