.catalog {
  margin: 0;
  padding: 0 0 120px;
}

.catalog__title {
  margin: 0 0 40px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #dc8962;
}

.catalog__categories-line {
  margin: 0 0 40px;
  padding: 0;
  width: 100%;
  min-height: 150px;
  background-color: #faf1e9;
  display: flex;
}

.catalog__categories {
  padding: 0;
  width: 1170px;
  display: flex;
  align-self: flex-start;
  margin: auto;
  justify-content: space-between;
}

.catalog__category {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #513629;
  text-align: center;
  transition: color 0.26s ease-in-out;
  cursor: pointer;
  align-self: flex-start;
  text-decoration: none;
  width: min-content;
}

.catalog__category:hover {
  color: #dc8962;
}

.catalog__category_active {
  color: #ca764e;
}

.catalog__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  padding: 0 20px;
}

.catalog__sort {
  display: flex;
  align-items: baseline;
  align-self: flex-end;
  margin: 0 0 40px;
}

.catalog__btn-clear-filter {
  text-align: right;
  margin-left: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #513629;
  padding: 9px;
  cursor: pointer;
  border: 0.5px solid transparent;
  border-radius: 10px;
}

.catalog__btn-clear-filter:hover {
  border: 0.5px solid #faf1e9;
}

.catalog__btn-clear-filter:disabled {
  border: none;
  opacity: 0.6;
  cursor: auto;
}
/*
.catalog__pagination {
  align-self: center;
} */

@media screen and (max-width: 480px) {
  .catalog__sort {
    flex-direction: column;
    align-self: center;
    align-items: center;
  }
}
