.slider__title {
  padding: 0;
  margin: 0 0 30px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: left;
  color: #FAF1E9;
  white-space: pre-line;
}

@media screen and (max-width: 1024px) {
  .slider__title {
    color: #513629;
  }
}

@media screen and (max-width: 900px) {
  .slider__title {
    color: #FAF1E9;
    max-width: 330px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 720px) {
  .slider__title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #513629;
    margin-bottom: 24px;
    max-width: 280px;
  }
}