.photo-grid__image {
  align-self: stretch;
  justify-content: stretch;
  object-fit: cover;
  width: 100%;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .photo-grid__image {
    border: 3px solid #FFFFFF;
  }
}