.popular__item-price{
  /* margin: 7px auto 0 auto; */
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
  color: #513629;
  font-weight: 600;
  font-size: 18px;
  line-height: 127%;
}

.popular__item-price::after{
  content:' \20BD';
}