.footer__social-link {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: block;
  width: 22px;
  height: 22px;
}