.product__title {
  padding: 0;
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #DC8962;
}

@media screen and (max-width: 900px) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 735px) {
  .product__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 127%;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 455px) {
  .product__title {
    max-width: 200px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}