.product__description {
	padding: 0;
	margin: 0;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 126%;
	color: #513629;
	font-family: 'Montserrat', Arial, sans-serif;
}

.product__description:last-of-type {
	margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .product__description {
		font-size: 14px;
  }
}

@media screen and (max-width: 735px) {
  .product__description {
		font-size: 16px;
  }
}