.product__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #513629;
}

.product__text:first-of-type {
	margin-right: 10px;
}