.footer__container {
 max-width: 1171px;
 margin: 0 auto;
 padding: 0 20px 45px;
 display: grid;
 grid-template-areas:
 "logo ."
 "menu contacts"
 "menu copyright";
}

@media screen and (max-width: 1024px){
  .footer__container {
    max-width: 984px;
}
}

@media screen and (max-width: 768px){
  .footer__container {
    max-width: 728px;
    padding-bottom: 31px;
}
}

@media screen and (max-width: 480px){
  .footer__container {
    grid-template-areas:
 "logo"
 "contacts"
 "menu"
 "copyright";
}
}

@media screen and (max-width: 320px){
  .footer__container {
    padding-bottom: 10px;
}
}