.instagram-block {
  background-color: #FAF1E9;
  padding: 127px 0;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .instagram-block {
    padding: 100px 0;
  }
}

@media screen and (max-width: 600px) {
  .instagram-block {
    padding: 53px 0;
  }
}