.advantages {
  padding: 290px 0 290px;
  margin: 0 auto;
}

.advantages__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  list-style: none;
  padding: 0;
}

.advantages__card-title {
  margin: 0 auto 23px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #edbdba;
  width: min-content;
}

.advantages__card-description {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 127%;
  color: #513629;
}

.advantages__card-image {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  margin: 0 auto 23px;
}

.advantages__card-element {
  max-width: 258px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.advantages__card-element:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1440px) {
  .advantages {
    padding: 210px 0 210px;
  }

  .advantages__card-title {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .advantages__card-description {
    font-size: 18px;
  }

  .advantages__card-element {
    max-width: 232px;
  }
}

@media screen and (max-width: 1280px) {
  .advantages__cards {
    max-width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {
  .advantages {
    padding: 190px 0 190px;
  }

  .advantages__cards {
    padding: 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .advantages {
    padding: 175px 0 175px;
  }

  .advantages__card-element {
    max-width: 230px;
  }
}

@media screen and (max-width: 750px) {
  .advantages {
    padding: 100px 0 100px;
  }

  .advantages__cards {
    flex-direction: column;
    padding: 0;
  }

  .advantages__card-element {
    margin: 0 auto 94px;
    max-width: 232px;
  }

  .advantages__card-element:nth-of-type(3n) {
    margin: 0 auto;
  }
}
