.slider__background {
  width: 100%;
  min-height: 622px;
  object-position: 65% 50%;
  object-fit: cover;
  z-index: -2;
}

@media screen and (max-width: 720px) {
  .slider__background {
    min-height: 362px;
  }
}

@media screen and (max-width: 470px) {
  .slider__background {
    min-height: 290px;
  }
}