.photo-element {
  font-size: 0;
  position: relative;
  z-index: 0;
  margin: 0;
  justify-self: center;
  align-self: center;
  max-width: 320px;
  width: 100%;
}

.photo-element__link {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-decoration: none;
}

.photo-element__link::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(81, 54, 41);
  background-image: url(../../images/instagram/inst-center-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  opacity: 0;
  z-index: 4;
  transition: opacity 0.5s ease-in-out;
}

.photo-element__link:hover::after {
  opacity: 0.59;
}

.photo-element__image {
  align-self: stretch;
  justify-content: stretch;
  object-fit: cover;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.photo-element__icon {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 21px;
  height: 21px;
  z-index: 3;
}

@media screen and (max-width: 1440px) {
  .photo-element__icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-element__image {
    border: 3px solid #ffffff;
  }
}

@media screen and (max-width: 900px) {
  .photo-element_not-active {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .photo-element__icon {
    top: 5%;
    right: 5%;
  }
}

@media screen and (max-width: 600px) {
  .photo-element:nth-of-type(1) {
    justify-self: end;
    align-self: flex-end;
    max-width: 78%;
  }
  .photo-element:nth-of-type(3) {
    justify-self: end;
    align-self: flex-start;
    max-width: 78%;
  }
  .photo-element:nth-of-type(6) {
    justify-self: start;
    align-self: flex-end;
    max-width: 78%;
  }
  .photo-element:nth-of-type(8) {
    justify-self: start;
    align-self: flex-start;
    max-width: 78%;
  }
  .photo-element_not-active {
    display: block;
  }
}
