.footer__contacts {
  margin: 0;
  padding: 0 0 27px 0;
  justify-items: end;
  grid-area: contacts;
  display: grid;
  grid-template-areas:
    "phone"
    "time"
    "social";
}

@media screen and (max-width: 480px) {
  .footer__contacts {
    grid-template-areas:
      "social"
      "phone"
      "time";
 
    justify-items: center;
  }
}
