img.popular__item-img {
  border: 0;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1024px) {
  .popular__item-img {
    width: 225px;
    height: 328px;
  }
}

@media screen and (max-width: 768px) {
  .popular__item-img {
    width: 230px;
    height: 328px;
  }
}

@media screen and (max-width: 480px) {
  .popular__item-img {
    width: 280px;
    height: 342px;
  }
}