.advantages__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .advantages__cards {
    max-width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {
  .advantages__cards {
    padding: 0 20px;
  }
}

@media screen and (max-width: 750px) {
  .advantages__cards {
    flex-direction: column;
    padding: 0;
  }
}