.slider__subtitle {
  padding: 0;
  margin: 0;
  max-width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 127%;
  text-align: left;
  color: #FAF1E9;
  white-space: pre-line;
}

.slider__subtitle:last-of-type {
  margin-bottom: 40px;
}

@media screen and (max-width: 720px) {
  .slider__subtitle {
    font-size: 18px;
    text-align: center;
    color: #513629;
    max-width: 300px;
  }

  .slider__subtitle:last-of-type {
    margin-bottom: 30px;
  }
}