.footer__copyright{
  line-height: 1.25;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  margin: 0;
  padding: 0;
  //display: block;
  //align-self: flex-end;
  //justify-content: flex-end;
  max-width: 546px;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8px;
    //padding: 0 20px;
    //max-width: 440px;
  }
}