.review__item {
  position: relative;
  display: flex;
  max-width: 285px;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0 16px;
  padding: 0;
  color: #dc8962;
}