.section-btn__image {
	width: 805px;
	height: 100%;
	object-fit: cover;
	position: absolute;
	content: '';
	top: 0;
}

@media screen and (max-width: 825px) {
	.section-btn__image{
		width: calc(100% - 20px);
	}
}