.products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  gap: 30px 30px;
  margin-bottom: 50px;
  min-height: 200px;
}

.products-list__no-data-text {
  justify-self: center;
  margin-top: 50px;
}


.products-list__pagination {
  align-self: center;
}
