.popular__title {
  margin: 0 auto 80px auto;
  color: #dc8962;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

@media screen and (max-width: 1024px) {
  .popular__title {
    margin-bottom: 87px;
  }
}

@media screen and (max-width: 768px) {
  .popular__title {
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 480px) {
  .popular__title {
    margin-bottom: 63px;
  }
}