.section-btn {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 668px;
	margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
	.section-btn{
		height: 620px;
	}
}