.section-btn__block {
	box-sizing: border-box;
	padding: 40px;
	width: 805px;
	min-height: 351px;
	background: #FAF1E9;
	z-index: 1;
	display: flex;
}

@media screen and (max-width: 825px) {
	.section-btn__block{
		width: 300px;
		padding: 30px 0;
	}
}