.instagram-block__text {
  padding: 0;
  margin: 0;
  color: #DC8962;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 107.9%;
  align-self: center;
}

@media screen and (max-width: 930px) {
  .instagram-block__text {
    max-width: min-content;
  }

  .instagram-block__text:first-child {
    margin-bottom: 29px;
    line-height: 127%;
  }

  .instagram-block__text:last-child {
    font-weight: normal;
    font-size: 20px;
  }
}