.basket_page__product{
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 123px;
  grid-template-areas: 'image title article counter price remover';
  align-items: center;
}

.basket_page__product + .basket_page__product{
  margin-top: 50px;
}

.basket_page__product-img{
  width: 123px;
  height: 123px;
  object-fit: cover;
  grid-area: image;
}

.basket_page__product-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #513629;
  grid-area: title;
}

.basket_page__product-article{
  font-size: 16px;
  line-height: 20px;
  color: #513629;
  grid-area: article;
}

.basket_page__product-counter{
  grid-area: counter;
}

.basket_page__product-counter-btn{
  width: fit-content;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.basket_page__product-number{
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-size: 18px;
  line-height: 116.4%;
  text-align: center;
  color: #513629;
  margin-left: 16px;
  margin-right: 16px;
}

.basket_page__product-price{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #513629;
  grid-area: price;
}

.basket_page__product-remove{
  grid-area: remover;
  border: none;
  background-color: transparent;
  padding: 0;
  width: fit-content;
  justify-self: right;
  cursor: pointer;
}
