.basket_page__product {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 123px;
  grid-template-areas: 'image title article counter price remover';
  align-items: center;
}

.basket_page__product + .basket_page__product {
  margin-top: 50px;
}

.basket_page__product-img {
  width: 123px;
  height: 123px;
  border-radius: 10px;
  object-fit: cover;
  grid-area: image;
}

.basket_page__product-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #513629;
  grid-area: title;
}

.basket_page__product-article {
  font-size: 16px;
  line-height: 20px;
  color: #513629;
  grid-area: article;
}

.basket_page__product-counter {
  grid-area: counter;
}

.basket_page__product-counter-btn {
  width: fit-content;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.basket_page__counter-image {
  width: 16px;
  height: 16px;
}

.basket_page__product-number {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-size: 18px;
  line-height: 116.4%;
  text-align: center;
  color: #513629;
  margin: 0 16px;
}

.basket_page__product-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #513629;
  grid-area: price;
}

.basket_page__product-remove {
  grid-area: remover;
  border: none;
  background-color: transparent;
  padding: 0;
  width: fit-content;
  justify-self: right;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .basket_page__product-counter {
    display: flex;
    flex-direction: column-reverse;
  }

  .basket_page__product-number {
    margin: 16px 0;
  }

  .basket_page__counter-image {
    width: 20px;
    height: 20px;
  }

  .basket-page__remove-img {
    width: 20px;
    height: 20px;
  }

  .basket_page__product-title, .basket_page__product-article {
    font-size: 13px;
  }
}

@media screen and (max-width: 660px) {
  .basket_page__product {
    grid-template-columns: 50px;
  }

  .basket_page__product-img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .basket_page__product {
    grid-template-areas:
      'image title'
      'image article'
      'image price'
      'remover counter';
    grid-column-gap: 15px;
    grid-template-columns: 100px;
  }
  .basket_page__product-img {
    width: 100px;
    height: 100px;
    align-self: flex-start;
  }
  .basket_page__product-article {
    font-size: 10px;
    margin: 0;
  }
  .basket_page__product-title{
    font-size: 12px;
    margin: 0;
  }

  .basket_page__product-number{
    font-size: 12px;
    margin: 0 20px;
  }

  .basket_page__product-counter {
    flex-direction: row;
    align-items: center;
    justify-self: right;
  }

  .basket_page__product-price{
    justify-self: right;
  }
  .basket_page__product-remove{
    justify-self: center;
    margin-top: 10px;
  }
}
