@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/navigation/navigation.css');
@import url('../blocks/basket/basket.css');
@import url("../blocks/product/product.css");
@import url("../blocks/product/__photos/product__photos.css");
@import url("../blocks/product/__photo/product__photo.css");
@import url("../blocks/product/__loop-icon/product__loop-icon.css");
@import url("../blocks/product/__arrow/product__arrow.css");
@import url("../blocks/product/__arrow/_right/product__arrow_right.css");
@import url("../blocks/product/__image/product__image.css");
@import url("../blocks/product/__specifications/product__specifications.css");
@import url("../blocks/product/__title/product__title.css");
@import url("../blocks/product/__price/product__price.css");
@import url("../blocks/product/__specification-box/product__specification-box.css");
@import url("../blocks/product/__text/product__text.css");
@import url("../blocks/button/button.css");
@import url("../blocks/button/_type/button_type_add-to-card.css");
@import url("../blocks/product/__description/product__description.css");
@import url("../blocks/product/__care-link/product__care-link.css");
@import url('../blocks/content-slider/content-slider.css');
@import url('../blocks/popular/popular.css');
@import url("../blocks/popular/_page/popular_page_product-page.css");
@import url('../blocks/popular/__item/popular__item.css');
@import url('../blocks/popular/__item/_new/popular__item_new.css');
@import url('../blocks/popular/__item-cart/popular__item-cart.css');
@import url('../blocks/popular/__title/popular__title.css');
@import url('../blocks/popular/__item-price/popular__item-price.css');
@import url('../blocks/popular/__item-price-sale/popular__item-price-sale.css');
@import url('../blocks/popular/__item-title/popular__item-title.css');
@import url('../blocks/popular/__item-img/popular__item-img.css');
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__contacts/footer__contacts.css");
@import url("../blocks/footer/__columns/footer__columns.css");
@import url("../blocks/footer/__container/footer__container.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__info/footer__info.css");
@import url("../blocks/footer/__menu/footer__menu.css");
@import url("../blocks/footer/__menu-link/_none-decoration/footer__menu-link_none-decoration.css");
@import url("../blocks/footer/__menu-link/footer__menu-link.css");
@import url("../blocks/footer/__menu-links/footer__menu-links.css");
@import url("../blocks/footer/__menu-item/footer__menu-item.css");
@import url("../blocks/footer/__social-item/footer__social-item.css");
@import url("../blocks/footer/__social/footer__social.css");
@import url("../blocks/footer/__social-link/footer__social-link.css");
@import url("../blocks/footer/__social-link/_icon/footer__social-link_icon_whatsup.css");
@import url("../blocks/footer/__social-link/_icon/footer__social-link_icon_telegram.css");
@import url("../blocks/footer/__social-link/_icon/footer__social-link_icon_instagram.css");
@import url("../blocks/footer/__text/footer__text.css");
@import url("../blocks/footer/__top/footer__top.css");