.product__specification-box {
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product__specification-box:first-of-type {
  margin-bottom: 40px;
}

@media screen and (max-width: 450px) {
  .product__specification-box:not(:last-of-type, :first-of-type) {
    flex-direction: column;
    align-items: flex-start;
  }
}