.popular__item-price-sale{
  position: absolute;
  top: 0;
  left: -70px;
  margin: 1px 0 0 0;
  padding: 0;
  color: #dc8962;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-decoration: line-through;
}

.popular__item-price-sale::after{
  content:' \20BD';
}