.popup-add-cart {
  margin: 0;
  padding: 30px 28px 0 28px;
  max-width: 675px;
  width: 100%;
  top: 100px;
  position: absolute !important;
  box-sizing: border-box;
}

.popup-add-cart__title {
  margin: 0 0 58px 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat Alternates';
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #DC8962;
}

.popup-add-cart__action-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 0 44px 0;
  margin: 0;
}

.popup-add-cart__item {
  margin: 0 0 30px 0;
  padding: 0;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: none;
  align-items: center;
  justify-content: space-between;
}

.popup-add-cart__item-img {
  margin: 0;
  padding: 0 20px 0 0;
  width: 123px;
  height: 123px;
  object-fit: cover;
  object-position: center;
}

.popup-add-cart__item-title {
  margin: 0;
  padding: 0;
  color: #513629;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.popup-add-cart__item-num {
  margin: 0;
  padding: 0;
  color: #513629;
  font-size: 18px;
  line-height: 116.4%;
  font-weight: normal; 
}

.popup-add-cart__item-img-title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .popup-add-cart {
    width: calc(100% - 2*15px);
  }
}

@media screen and (max-width: 700px) {
  .popup-add-cart__item-title {
    font-size: 16px;
  }
  
  .popup-add-cart__item-num {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .popup-add-cart__item-img {
    padding: 0;
  }

  .popup-add-cart__item-img-title {
    flex-direction: column;
  }

  .popup-add-cart__item-num {
    text-align: center;
  }
  
  .popup-add-cart__item-title {
    text-align: center;
  }

  .popup-add-cart__item {
    grid-template-columns: none;
    grid-template-rows: max-content max-content max-content;
    justify-content: center;
  }

  .popup-add-cart__action-buttons {
    flex-direction: column;
    align-items: center;
  }
}