.bread{
    padding-left: calc((100% - 1170px)/2);
    padding-bottom: 30px;
    padding-top: 20px;
    color: #DC8962;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width: 1280px) {
    .bread {
        padding-left: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .bread {
        padding-left: 20px;
    }
}

@media screen and (max-width: 480px){
    .bread{
        display: none;
    }
}