.slick-slider-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 41px;
  height: 41px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  /* border: 1px solid #FAF1E9;
  border-radius: 50%;
  outline: none;
  background-color: #FAF1E9; */
}

.slick-slider-arrow_left {
  left: -25px;
}

.slick-slider-arrow_right {
  right: -25px;
}

.slick-slider-arrow__img {
  margin: 0;
  padding: 0;
}

.slick-slider-arrow_type_popular {
  transform: translate(0, -50%) translateY(-20px);
  border: 1px solid #FAF1E9;
  border-radius: 50%;
  outline: none;
  background-color: #FAF1E9;
}

.slick-slider-arrow_type_review {
  transform: translate(0, -50%) translateY(50px);
  border: 0;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
}