.popup-care {
  margin: 0;
  padding: 47px 115px 37px 85px;
  background-color: #FAF1E9;
  box-sizing: border-box;
  scrollbar-width: thin;
}

.popup-care__title {
  margin: 0 0 5px 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat Alternates';
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #DC8962;  
}

.popup-care__text-list {
  list-style: none;
  margin: 0;
  padding: 0 0 37px 0;
}

.popup-care__text-title {
  margin: 50px 0 0 0;
  padding: 0;
  text-align: left;
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #DC8962;
  display: flex;
}

.popup-care__text-title-img {
  margin: 0 0 0 15px;
  padding: 0;
}

.popup-care__text {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  line-height: 127%;
  color: #513629;
}

.popup-care__btn-close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 1024px) {
  .popup-care__title {
    font-size: 25px;
    line-height: 30px;
  }

  .popup-care {
    padding: 45px 137px 64px 137px;
  }

  .popup-care__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .popup-care {
    padding: 41px 52px 92px 52px;
  }

  .popup-care__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .popup-care {
    padding: 68px 25px 28px 41px;
  }
}

@media screen and (max-width: 440px) {
  .popup-care__title {
    font-size: 20px;
    line-height: 24px;
  }

  .popup-care {
    padding: 62px 18px 37px 9px;
  }
}