.popular__item-cart {
  position: absolute;
  top: calc(165px - 82px / 2);
  left: calc(50% - 82px / 2);
  background-color:#fff;
  opacity: 0;
  border: 0;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  object-fit: none;
  cursor: pointer;
  
  background-image: url('../../../images/popular_cart.svg');
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
}

.popular__item-img:hover+.popular__item-cart {
  opacity: 0.8;
  transition: opacity .26s ease-in-out;
}

.popular__item-cart:hover {
  opacity: 0.8;
  background-color: #dc8962;
  /*этого в дизайне нет, можно убрать. сделал hover кнопки корзины по наведению аналогичным для корзины в меню*/
  background-image: url('../../../images/popular_cart_hover.svg');
}