.review__item-title {
  text-align: center;
  margin: 44px auto 0 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 108%;
}

@media screen and (max-width: 1024px) {
  .review__item-title {
    margin-top: 45px;
    font-size: 18px;
  }  
}

@media screen and (max-width: 480px) {
  .review__item-title {
    margin-top: 40px;
  }  
}