.instagram-block {
  background-color: #FAF1E9;
  padding: 127px 135px;
}

@media screen and (max-width: 1280px) {
  .instagram-block {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 768px) {
  .instagram-block {
    padding: 53px 20px;
  }
}