.popular__item-title {
  max-width: 200px;
  min-height: 46px;
  text-align: center;
  margin: 22px auto 0 auto;
  color: #dc8962;
  font-weight: 600;
  font-size: 18px;
  line-height: 127%;
}

@media screen and (max-width: 480px) {
  .popular__item-title {
    margin-top: 15px;
  }
}