.thumbnail {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.thumbnail__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  object-position: 50% 50%;
}

.thumbnails {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

@media screen and (min-width: 1920px) {
  .thumbnails {
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .thumbnails {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .thumbnails {
    gap: 15px;
  }
}

@media screen and (max-width: 735px) {
  .thumbnails {
    gap: 20px;
  }
}