.thumbnail {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.thumbnail__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnails {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}