.popular__item_new::before {
  border-radius: 50%;
  background-color: #ffD07c;
  content: 'NEW!';
  color: #fff;
  width: 60px;
  height: 38px;
  position: absolute;
  padding-top: 22px;
  top: -30px;
  right: -15px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}