.slider__dott {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FAF1E9;
  z-index: 1;
  cursor: pointer;
  opacity: .5;
  margin-right: 14px;
}

.slider__dott:last-of-type {
  margin-right: 0;
}