.basket-page__form {
  width: 370px;
}

.basket-page__fieldset {
  width: 100%;
  border: none;
  padding: 0;
}

.basket-page__input {
  width: 100%;
  border: 1px solid #513629;
  border-radius: 10px;
  height: 50px;
  padding: 17px 20px;
  box-sizing: border-box;
}

.basket-page__input + .basket-page__input{
  margin-top: 10px;
}

.basket-page__input:focus, .basket-page__address:focus {
  outline: none;
  border: 1px solid #ca764e;
  border-radius: 10px;
}

.basket-page__address {
  width: 100%;
  border: 1px solid #513629;
  border-radius: 10px;
  height: 87px;
  margin-top: 10px;
  padding: 17px 20px 0;
  box-sizing: border-box;
}

.basket-page__fieldset + .basket-page__fieldset{
  margin-top: 10px;
}

.basket-page__radio + .basket-page__radio{
  margin-top: 15px;
}

.basket-page__label{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  line-height: 127%;
  color: #513629;
}


@media screen and (max-width: 425px) {
  .basket-page__form {
    width: 100%;
  }
}
