.button {
	width: 160px;
	height: 40px;
	color: #FAF1E9;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	background-color: #DC8962;
	border-radius: 10px;
	border: none;
	outline: none;
	transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #CA764E;
}