.product {
  margin: 0 auto;
  padding: 130px 0 140px;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .product {
    padding: 130px 20px 140px;
  }
}

@media screen and (max-width: 900px) {
  .product {
    padding: 130px 20px 100px;
  }
}

@media screen and (max-width: 735px) {
  .product {
    flex-direction: column;
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 455px) {
  .product {
    padding-bottom: 50px;
  }
}